statemachine/stepfunction-definition.asl.json
{
  "Comment": "IoT sensor analytics using Distributed Map with Athena manifest and Parquet files processing",
  "StartAt": "GetDate",
  "QueryLanguage": "JSONata",
  "States": {
    "GetDate": {
      "Type": "Pass",
      "Output": {
        "Today": "{% $string('daily-data-parquet/' & $substring($states.context.State.EnteredTime, 0, 10)) & '/' %}",
        "BucketName": "{% $states.input.IoTDataBucketName %}"
      },
      "Next": "Athena StartQueryExecution"
    },
    "Athena StartQueryExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Arguments": {
        "QueryString": "{% \"UNLOAD (SELECT \\\"timestamp\\\", \\\"temperature\\\", \\\"humidity\\\", \\\"batterylevel\\\", \\\"latitude\\\", \\\"longitude\\\", \\\"deviceid\\\", \\\"deviceid\\\" AS deviceid_partition FROM \\\"IOTSensorData\\\".\\\"IOTSensorData\\\") TO 's3://\" & $states.input.BucketName & \"/\" & $states.input.Today & \"' WITH (format = 'PARQUET', compression = 'NONE', partitioned_by = ARRAY['deviceid_partition'])\" %}",
        "WorkGroup": "primary"
      },
      "Output": {
        "ManifestObjectKey": "{% $join([$states.result.QueryExecution.ResultConfiguration.OutputLocation, '-manifest.csv']) %}"
      },
      "Next": "ProcessSensorData"
    },
    "ProcessSensorData": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "AnalyzeSensorData",
        "States": {
          "AnalyzeSensorData": {
            "Type": "Task",
            "Resource": "arn:${Partition}:states:::lambda:invoke",
            "Arguments": {
              "FunctionName": "${IoTAnalyticsFunctionArn}",
              "Payload": "{% $states.input %}"
            },
            "Next": "SendToKinesisFirehose",
            "Assign": {
              "analysisResult": "{% $states.result.Payload %}"
            }
          },
          "SendToKinesisFirehose": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:firehose:putRecord",
            "Arguments": {
              "DeliveryStreamName": "${IoTSensorDataFirehoseName}",
              "Record": {
                "Data": "{% $string($analysisResult) %}"
              }
            },
            "End": true
          }
        }
      },
      "ItemReader": {
        "Resource": "arn:${Partition}:states:::s3:getObject",
        "ReaderConfig": {
          "InputType": "PARQUET",
          "ManifestType": "ATHENA_DATA"
        },
        "Arguments": {
          "Bucket": "{% $split($substringAfter($states.input.ManifestObjectKey, 's3://'), '/')[0] %}",
          "Key": "{% $substringAfter($substringAfter($states.input.ManifestObjectKey, 's3://'), '/') %}"
        }
      },
      "MaxConcurrency": 50,
      "ResultWriter": {
        "Resource": "arn:${Partition}:states:::s3:putObject",
        "Arguments": {
          "Bucket": "${IoTAnalyticsResultsBucketName}",
          "Prefix": "analytics-results/"
        }
      },
      "End": true
    }
  }
}